.secrets/
configs/home/config/Supraboy981322/
scripts/
!scripts/start-hypr.sh
!scripts/screenshot.sh
!scripts/battery_notifier
configs/home/docker/winapps/
configs/home/config/winapps/
hardware-configuration.nix
configs/home/config/nvim/twitch
