/*
* wofi style. Colors are from authors below.
* Base16 Gruvbox dark, medium
* Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
*
*/
@define-color base00 rgba(34, 36, 54, 0.6);
@define-color base06 #b0ceff;

window {
  opacity: 0.9;
  border:  0px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 18px;
  background-size: cover;
	background-color: @base00;
}

#input {
	border-radius: 10px 10px 0px 0px;
  border:  0px;
  padding: 10px;
  margin: 0px;
  font-size: 28px;
	color: rgba(0, 0, 0, 1);
	background-color: #89B4FA;
}

#inner-box {
	margin: 0px;
	color: @base06;
	background-color: @base00;
}

#outer-box {
	margin: 0px;
	background-color: rgba(34, 36, 54, 1);
  border-radius: 10px;
}

#selected {
	background-color: rgba(0, 0, 0, 0.5);
  border: solid 0.2em #89B4FA;
  border-radius: 10px;
}

#entry {
	padding: 0px;
  margin: 0px;
	background-color: @base00;
}

#scroll {
	margin: 5px;
	background-color: @base00;
}

#text {
	margin: 0px;
	padding: 2px 2px 2px 10px;
}
