/* ==== Global rules ==== */
* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: rgba(34, 36, 54, 0.6);
}

window#waybar.hidden {
  opacity: 0.2;
}

/* ==== General rules for visible modules ==== */
#custom-nix_icon, #clock, #custom-calendar, #cpu, #memory,
#disk, #temperature, #idle_inhibitor, #pulseaudio,
#pulseaudio-slider, #network, #language {
  color: #161320;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#custom-nix_icon, #cpu,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the right */
#custom-calendar, #temperature, #language {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* == Specific styles == */

/* Modules left */
#custom-nix_icon {
  font-size: 20px;
  color: #89B4FA;
  background: #161320;
  padding-right: 17px;
}

#custom-calendar {
  margin-right: 10px;
  background: #ca9ee6;
}

#clock {
  background: #ABE9B3;
}

#cpu {
  margin-left: 10px;
  background: #96CDFB;
}

#memory {
  background: #e78284;
}

#disk {
  background: #ffffff;
}

#temperature {
  background: #F8BD96;
}

/* === Modules center === */
#workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #B5E8E0;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #A6E3A1;
}

#workspaces button.active {
  color: #89B4FA;
  text-shadow: 0 0 4px #ABE9B3;
}

#workspaces button:hover {
  color: #89B4FA;
}

#workspaces button.active:hover {}

/* Modules right */
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#idle_inhibitor {
  background: #B5E8E0;
  padding-right: 15px;
}

#pulseaudio {
  min-width: 50px;
  color: #1A1826;
  background: #ca9ee6;
  padding-left: 0px;
}

#pulseaudio-slider {
  color: #1A1826;  
  background: #ca9ee6;
  min-width: 50px;
}

#pulseaudio-slider slider {}


#network {
  background: #8caaee;
  padding-right: 13px;
}

#language {
  background: #e5c890;
  padding-right: 15px;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #BF616A;
    color: #B5E8E0;
  }
}
